*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px; /*0px로 할 때는 단위가 없어도 된다.*/
}

.container{
    height: 100%;
    background-color: skyblue;
}

/* 스크린 크기 조정 */
.chat-screen{
    height: calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}

.user-column{
    float: left;
}

.user-pic{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: black;
}

.user-nick, .user-count{
    margin: 5px;
}

.user-count{
    font-size: 12px;
    color:gray
}

/*채팅 입력 창*/
.chat-form{
    height: 120px;
    background-color: #ffffff;
}

.chat-form-filed{
    height: 120px;
}

.chat-form-msg{
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    resize: none;
    border: none;
    font-size: 24px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 

.chat-form-bt{
    float: right;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    background-color: black;
}

.chat-form-msg:focus{
    outline: none;
}

.chat-form-bt:active{
    background-color: #ffffff; 
}

*{
    font-family: monospace
}